html, body{
    background-color: #373333;
    height: 100%;
    width: 100%;
}
.container-fluid{
    text-align: center;
    height: 100%;
}
.row{
    height: 100%;
}
.top, .bottom{
    height: 15%;
    /*background-color: purple;*/
}
.middle{
    height: 70%;
}
.form{
    padding-top: 15%;
}
.form-control{
    opacity: 0.5;
    margin: 1%;
}
.btn.btn-outline-primary{
    width: 50%;
    height: 20%;
    color: #f0ad0d;
    border-color: #f0ad0d;
}
.btn.btn-outline-primary:hover{
    width: 50%;
    height: 20%;
    color: #373333;
    border-color: #f0ad0d;
    background-color: #f0ad0d;
}

/* for the predict page */
.col-sm-6.official{
    background-color: red;
}
.col-sm-6.unofficial{
    background-color: green;
}
